[submodule "darknet_ros/darknet"]
	path = darknet_ros/darknet
	url = git@github.com:leggedrobotics/darknet.git
[submodule "xArm/xarm_sdk/cxx"]
	path = xArm/xarm_sdk/cxx
	url = git@github.com:xArm-Developer/xArm-CPLUS-SDK.git
[submodule "ddynamic_reconfigure"]
	path = ddynamic_reconfigure
	url = https://github.com/pal-robotics/ddynamic_reconfigure.git
[submodule "realsense-ros"]
	path = realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
