<launch>
  <!-- xArm -->
  <include file="$(find xarm6_gripper_moveit_config)/launch/realMove_exec.launch">
    <arg name="robot_ip" value="192.168.1.240"/>
    <arg name="show_rviz" value="true"/>
  </include>

  <node pkg="robot" name="manipulation" type="manipulation.py" output="screen"/>

  <!-- realsense -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="align_depth" value="true"/>
  </include>
  
  <include file="$(find detectron2_ros)/launch/mylaunch.launch">
  </include>
  
  <!-- bounding to position -->
  <node pkg="detectron2_ros" name="BB_tf" type="tf_debug.py" />
  
  <!-- manipulation setting-->
  <node pkg="robot" name="manipulation" type="manipulation.py" />

  <!-- execute -->
  </launch> 
